[submodule "third_party/ava_vla"]
	path = third_party/ava_vla
	url = https://github.com/eastha10/AVA-VLA.git
[submodule "third_party/openvla_oft"]
	path = third_party/openvla_oft
	url = https://github.com/moojink/openvla-oft.git
